extends layout.pug

block content
	p
	|Hello there! This website is a work in progress. I am learning
	|node.js, express, and pug while building a portfolio to
	|demonstrate my proficiencies. 
	p
	|I hope you'll join me in this venture
	|and make visit often. I can be reached via the email in the footer.
