extends layout.pug

block content
	h1	Welcome!
	p
		Hello there! This website is a work in progress. I am learning s		node.js, express, and pug while building a portfolio to demonstr		ate my proficiencies. I hope you'll join me in this venture and 		make visit often. I can be reached via the email in the footer.
